
body {
    font-weight: 900;
    position: relative;
    font-size: 30px; 
    font-family: 'VT323', monospace;
    background-image: url("./Pictures/original.gif"); 
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
   
}
 

/* Text Box */
#Me{
    position: relative;
    top: 90px;
    left: -480px;
    height: 250px;
    width: 200px;
    z-index: 998;
}
#Image{
text-align: center
}
#Image2{
    text-align: center
    }
p {
    color:white;
    position: relative;
    height: auto;
    text-align: right;
}
.txtB {
    position: absolute;
    top: 245px;
    left: 280px;
    height: 93px;
    width: 500px;
    border: black solid 2px;
    background-color: rgba(50, 42, 168, 0.3);
}
.txtBN {
    position: absolute;
    top: 215px;
    left: 287px;
    height: 30px;
    width: 90px;
    border: black solid 2px;
    background-color: rgba(50, 42, 168, 0.3);
}
.Name {
    color:white;
    position: absolute;
    top: 0px;
    text-align: center;
}
/* Type writer */
#typeWriter {
    overflow: hidden;
    margin: 0 auto;
    border-right: 1px solid transparent;
    margin: 0 auto;
    white-space: nowrap;
    animation:
        typing 3.0s steps(40, end),
        blink .75s step-end infinite;
 }
 @keyframes typing {
    from {width: 0}
    to{width: 100%}
 }
 @keyframes blink {
    from, to {border-color: transparent}
    50% {border-color: transparent}
 }
/*Type writer end*/


/* Txt Box End*/

.Nav li a:hover {
    background-color: midnightblue;
}

.navbar{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1000px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}
.navbar-default {
    position: relative;
    background-color:rgba(236, 236, 236, 0.8);
    border-radius: 30px;
    
}
.pageTitle { 
    position: relative;
    background-color: rgba(236, 236, 236, 0.747)
}

#MeeClick {
    position: relative;
   
}

a{
    position: relative;
    top: -170px;    
    left: 300px;
}


